@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    margin: 0;
}
/* header style */
header {
    background-color:  #F5F5F6;
    display: flex;
    justify-content: space-around;
    height: 50px;
}
.logo {
    align-self: center;
    width: calc(49px + 40 * ((100vw - 320px) / (1152 - 320)));
    height: 23px;
}
nav {
    align-self: center;
}
.nav {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 60vw;
    font-size: calc(5px + 6 * ((100vw - 320px) / (1152 - 320)));
}
.nav li a {
    color: #959BA4;
    text-decoration: none;
}
.nav :first-child a {
    color: black;
}
.nav li :hover {
    color: black;
}
button {
    background-color: #FFFFFF;
    border: none;
    width: calc(30px + 28 * ((100vw - 320px) / (1152 - 320)));
    height: 33px;
    border-radius: 4px;
    align-self: center;
    font-size: calc(6px + 6 * ((100vw - 320px) / (1152 - 320)));
}
/* ------- section ------ */

.container-wrapper {
    display: flex;
    justify-content: center;
    gap: 5vw;
}
h1 {
    font-size: calc(20px + 26 * ((100vw - 320px) / (1152 - 320)));
    line-height: 42px;
    padding-left: 22%;
}

/* ------ container ------ */
p {
    font-size: calc(6px + 6 * ((100vw - 320px) / (1152 - 320)));
    color: #9F9F9F;
    margin: 0;
}
.select {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    border:1px solid #C6C6C6;
    border-radius: 3px;
    width: 25vw;
    padding: 0;
}
.select li {
    width: 25%;
    height: 30px;
    color: #C6C6C6;
    font-size: calc(6px + 6 * ((100vw - 320px) / (1152 - 320)));
    /* 12px */
    border-right: 1px solid #C6C6C6;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.select :last-child {
    border: none;
}
.select  :hover{
    background-color: #833AE0;
    color: white;
}
/* ---------inputs------- */
.input-wrapper {
    width: 25vw;
    height: calc(102px + 100 * ((100vw - 320px) / (2560 - 320)));
    border:1px solid #C6C6C6;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
input {
    width: 20vw;
    height: calc(40px + 100 * ((100vw - 320px) / (2560 - 320)));
    padding: 0;
    border: none;
    margin-left: 10px;
    font-size: calc(10px + 26 * ((100vw - 320px) / (1152 - 320)));
    font-weight: 700;
    outline: none;
}
.left-currency, .right-currency {
    padding-left: 10px;
}
/* ------ */
.left-selected, .right-selected {
    background-color: #833AE0; 
    color: white !important;
}